/*  Formas */
.boton {
	background-color: #FFB400;
	padding: 20px;
	
	border-bottom: 6px solid #E49100;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 100%;
	margin-right: 10px;
}
.boton:hover {
	background-color: #E49100;
	border-top: 6px solid #ffb400;
	border-bottom: 
}
.boton:last-of-type{
	margin-right: 0;
}
.boton_a {
	color: #FFFFFF;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
}