/* Layout */

header, footer{
	background-color: #282828;
	position: absolute;
	width: 100%;
}
header img {
	width: 200px;
	display: block;
}
nav ul li{
	color: #FFFFFF;
	display: inline;
	font-weight: 400;
}
footer, footer a {
	color: #FFFFFF;
}
footer {
	padding: 20px;
	box-sizing: border-box;
}